@import 'fontawesome.scss';
@import 'solid.scss';
@import 'brands.scss';
@import 'regular.scss';
@import 'colors';

/* General CSS */
html,
body {
    height: 100%;
    margin: 0;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    //    font-family: 'Gloria Hallelujah', cursive;
    background-color: $white;

}

h3 {
    color: $brown;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    color: $arsenic;
    font-weight: 300;
    text-align: center;
}

/*============================================================
                            NAVBAR
============================================================= */
header {
    nav {
        .navbar-brand {
            img {
                max-height: 100px;
            }
        }
    }
}


/*============================================================
                            HOME
============================================================= */

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/alps-1.jpg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.5);
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    #home-heading h3 {
        margin: 20px 0 20px 0;
        color: $white;
        font-size: 40px;
        font-weight: 700;
        //        background-color: rgba(0, 0, 0, 0.7);
    }
}

/*============================================================
                            HIKES
============================================================= */

.hikes-item {
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;

    .hikes-item-icon i {
        color: $arsenic;
        float: left;
        padding: 5px;
        //        margin-right: 25px;
        width: 75px;
        height: 75px;
        text-align: center;
        transition: left linear 0.2s, width linear 0.2s, height linear 0.2s, transform linear 0.2s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    .hikes-item-title h3 {
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 10px 30px;
    }

    .hikes-item-desc p {
        margin: 0;
        padding-left: 90px;

    }
}

/*============================================================
                            ABOUT
============================================================= */

#about-content-box {
    float: left;
    height: 700px;

    #about-content-box-outer {
        width: 100%;
        height: 100%;
        display: table;

        #about-content-box-inner {
            display: table-cell;
            vertical-align: middle;

            p {
                margin-bottom: 30px;
                padding-right: 10px;
            }
        }
    }
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/w1.jpg);
    background-size: auto;
    background-position: bottom;
    border-left: 300px solid $white;
    border-top: 700px solid transparent;
}

/*============================================================
                            GALLERY
============================================================= */
#gallery.row {
    margin: 0;
}

//.row.no-gutters [class *=col-] {
//    padding-left: 0;
//    padding-right: 0;
//}

.img-wrapper {
    height: 500px;
    width: 100%/4;
    overflow: hidden;
    margin-bottom: 10px;

    img {
        height: 100%;
        transition: transform 0.5s ease;

        &:hover {
            cursor: zoom-in;
            transform: scale(2);
        }
    }
}

/*============================================================
                            RESORTS
============================================================= */
#resorts.container row {
    height: 700px;
}

#ski-resorts {
    .resort {
        width: 100%/2;
        height: 500px;
        margin: 0 10px;
        overflow: hidden;

        img {
            width: auto;
            height: 75%;
        }

        .resort-info {
            padding: 10px 0 30px 0;

            h4.resort-name {
                font-size: 22px;
                letter-spacing: 1px;
                font-weight: 700;

            }

            a {
                color: $brown;
                text-decoration: underline;
            }
        }
    }
}

/*============================================================
                            DESTINATIONS
============================================================= */
#destinations-cover {
    background-image: url(../img/destinations/winter-forest-4119x2566-5k-4k-wallpaper-mountain-sun-snow-fir-trees-580.jpg);

    .content-box {
        background-color: rgba(0, 0, 0, 0.8);

        .content-title h3 {
            color: $white;
        }
    }

    #destinations {

        padding: 50px 0;

        .destination {

            overflow: hidden blockquote p {
                color: $white;
                font-size: 24px;
                margin: 10px;
            }

            p {
                color: $white;
                font-size: 30px;
                margin: 10px;
            }

            img {
                margin: 0 auto;
                max-height: 550px;
                width: auto;
            }
        }
    }
}

/*============================================================
                            PRICING
============================================================= */
.pricing-box {
    border: 3px solid $arsenic;
    padding: 50px 0;
    margin: 40px 0;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }

    .pricing-title {
        background-color: $arsenic;
        color: $white;
        display: inline-block;
        padding: 7px 15px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 30px 0;
    }

    .pricing-value {
        font-size: 60px;
        font-weight: 700;
        color: $arsenic;

        sup {
            font-size: 28px;
            font-weight: normal;
            vertical-align: super;
        }
    }

    ul.pricing-spec {
        list-style: none;
        padding-left: 0;
        margin: 20px 0 60px 0;

        li {
            p {
                color: $arsenic;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    border: 3px solid $arsenic;
    color: $white;
    background-color: $arsenic;

    .pricing-title {
        background-color: $white;
        color: $arsenic
    }

    .pricing-value {
        color: $green;
    }

    ul.pricing-spec {
        li {
            p {
                color: $white;
            }
        }
    }
}

/*============================================================
                            STATS
============================================================= */
#stats-cover {
    background-image: url(../img/resorts/winter%20davos%204.JPG);

    .content-box {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        align-content: center;
        color: $white;
        opacity: 0.8;

        .content-title h3 {
            color: $white;
        }

        .stats-item {
            padding: 100px 0;

            i {
                margin: 0 0 60px 0;
            }

            h2 {
                font-size: 35px;
                font-weight: 700;
                margin-top: 15px;
                margin-bottom: 1px;
            }

            p {
                text-transform: uppercase;
                color: $white;
                margin-top: 0;


            }
        }
    }
}

/*============================================================
                            LOGOS
============================================================= */
#logos {

    .logo {
        padding: 40px 0;

        img {
            max-height: 120px;
            width: auto;

        }
    }
}

/*============================================================
                            FOOTER
============================================================= */
footer {
    padding: 30px 0 0 0;
    background-color: $arsenic;
    border-top: 5px solid rgba(0, 0, 0, 0.1);

    h3 {
        font-size: 27px;
        font-weight: 700;
    }

    p {
        margin-bottom: 30px;
    }

    h3,
    p,
    strong {
        color: $white;
        text-align: justify;
    }

    #contact-right {
        float: right;
        width: 500px;

        .form-control {
            margin-bottom: 20px;
            background-color: transparent;
            border-radius: 0;
            border-color: $white;
            fonts-size: 17px;
            font-weight: 300;
            padding: 8px 16px;
            color: $white;
        }
    }

    #footer-bottom {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 30px 0;
        margin-top: 60px;

        #footer-copyrights {
            p {
                margin: 0;
                color: $white;
            }
        }

        #footer-menu {
            float: left;
            color: $white;
            font-size: 16px;
            font-weight: 300;

            ul {
                padding-left: 0;
                margin: 0;
                list-style: none;

                li {
                    display: inline-block;

                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: 16px;
                        font-weight: 300;
                        margin: 0 10px;

                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}

/*============================================================
                            CONTENT (Generic)
============================================================= */

.content-box {
    padding: 60px 30px;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: $jet;
    margin: 0 auto 30px auto;
}

/*============================================================
                            BUTTONS
============================================================= */

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px;
    font-size: 20px;
    font-weight: 700;
    color: $arsenic;
    background-color: $white;
    text-transform: uppercase;
    border-color: $arsenic;

    &:hover,
    &:focus {
        background-color: $arsenic;
        color: $green;
    }
}


.btn-inverse {

    background-color: $arsenic;
    color: $white;
    border-color: $white;

    &:hover,
    &:focus {
        background-color: $white;
        color: $arsenic
    }

}

/*============================================================
                            PARALLAX Generic
============================================================= */
.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

/*============================================================
                            ANIMATION
============================================================= */
#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;

}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: .5s;
}

/*============================================================
                            SOCIAL
============================================================= */

.social-list {
    padding-left: 0;

    li {
        list-style: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        margin-top: 10px;

        .social-icon i {
            font-size: 24px;
        }

        .icon-ars {
            color: $green;

            &:hover {
                color: $white
            }
        }
    }
}
